







head {
	background-color: blue;

	padding: 40px 20px 40px 20px; 
}

/*<title>Ms.Devious</title>*/
	/*Ms.Devious*/

	div{
  
  width: 2000px;
  height: 80px
  padding: 25px;
  background-color: red;
}



body {
	padding:20px 20px 20px 20px;

	background: pink;
    }

</body>